main {
    background: #400C8E;
}

p1 {
    color: #F8FF00;
    font-family: monospace;
    font-size: 20px
    float: center;
}

h {
    color: #F8FF00;
    font-family: monospace;
    font-size: 40px;
    float: center;
}
