body {
		background-color: #400C8E;
}
main {
    	background-color: #400C8E;
   		display: flex;
   		flex-wrap: wrap;
    	justify-content: space-between;
}

p {
    	color: #F8FF00;
    	font-family: monospace;
    	font-size: 17px;
}

h1 {
    	color: #F8FF00;
    	font-family: monospace;
    	font-size: 30px;
		text-align: center;
}

div {
    	margin-right: auto;
	margin-left: auto;
	width: 50%;
}
